 .u-section-1 {
  background-image: url("images/people-showing-support-respect-with-yellow-background-suicide-prevention-day12.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 8.75rem;
  margin: 338px 99px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 0%;
    background-size: cover, cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 296px;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 304px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-1 {
    margin-top: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    margin-top: 494px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 840px;
}

.u-section-2 .u-shape-1 {
  width: 661px;
  height: 563px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 86px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 626px;
  height: 543px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -429px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 521px;
  height: 571px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -612px 70px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 512px;
  min-height: 483px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -472px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 39px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 500;
  font-family: Poppins;
  margin: 7px 1px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 28px 82px 0 1px;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px 261px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-2 .u-shape-1 {
    width: 560px;
    height: 477px;
    margin-top: 60px;
  }

  .u-section-2 .u-shape-2 {
    width: 513px;
    height: 555px;
    margin-top: -349px;
  }

  .u-section-2 .u-image-1 {
    width: 429px;
    height: 490px;
    margin-top: -632px;
    margin-right: 65px;
  }

  .u-section-2 .u-group-1 {
    width: 441px;
    min-height: 499px;
    margin-top: -385px;
    margin-bottom: 88px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-2 .u-shape-1 {
    width: 451px;
    margin-right: auto;
    margin-left: 215px;
  }

  .u-section-2 .u-shape-2 {
    height: 494px;
    margin-top: -149px;
    margin-left: 55px;
  }

  .u-section-2 .u-image-1 {
    width: 474px;
    height: 345px;
    margin-top: -786px;
    margin-right: auto;
    margin-left: 136px;
  }

  .u-section-2 .u-group-1 {
    width: 468px;
    min-height: 431px;
    margin-top: -6px;
    margin-bottom: 77px;
    margin-left: 55px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-shape-1 {
    width: 477px;
    height: 361px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    width: 477px;
    height: 492px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 484px;
    height: 405px;
    margin-top: -828px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 455px;
    min-height: 415px;
    margin: 0 22px 68px auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-2 .u-shape-1 {
    width: 254px;
    height: 209px;
    margin-top: 64px;
  }

  .u-section-2 .u-shape-2 {
    height: 508px;
    margin-top: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 297px;
    margin-top: -729px;
    margin-left: 28px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 60px;
    min-height: 401px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 81px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 504px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  --radius: 30px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 416px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 416px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 416px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 2px 0 0;
}

.u-section-3 .u-text-6 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 40px auto 0 0;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 343px;
    --radius: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 343px;
    --radius: 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    --radius: 20px;
    min-height: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-4 {
  min-height: 729px;
}